* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  font-family: "Markazi Text", serif;
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background-color: grey;
  padding-top: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  height: 5rem;
}

.imgcard img {
  display: flex;
  align-items: flex-start;

  padding-left: 1rem;
  width: 60px;
  height: 50px;
}
.copyrights {
  font-size: 2rem;
  display: flex;
  align-items: flex-start;
  padding-right: 2rem;
  /* margin-top: -2rem; */
  color: white;
  height: 5rem;
}
